# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Linus Marco
	email = lmarco163@gmail.com
[push]
	default = simple
[alias]
	dc = diff --cached
	ck = checkout
	tlog = log
	tpush = push
	tpull = pull
	tstatus = status
	tcommit = commit
	comit = commit
	commmit = commit
